*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top-nav{
    display: flex;
    background-color: rgb(51, 72, 67);
    align-items: center;
    justify-content: space-around;
}

.logo{
    color: burlywood;
    font-size: 28px;
    padding: 8px 12px;
}

.link-list{
    list-style: none;
    display: flex;
    color: azure;
}

.link-list-item{
    padding: 8px;
    background-color: rgb(51, 51, 203);
    margin-left: 10px;
}

#banner{
    background-image: url('img/back_1.jpg');
    background-size: cover;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
}

.img-container{
    padding: 10px;
}

.text-container{
    padding: 14px;
    max-width: 480px;
}

.text-azure{
    color: azure;
}

.text-void{
    color: rgb(30, 35, 34);
}

.banner-img{
    width: 280px;
    height: 280px;
}

.btn{
    padding: 10px;
    background: tomato;
    font-weight: 800;
    border: none;
    border-radius: 4px;
    color:azure;
    margin: 10px;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 10px;
}

.text-center{
    text-align: center;
    margin-top: 18px;
}

.card{
    width: 280px;
    max-width: 300px;
    border-radius: 8px;
    background-color: rgb(57, 46, 46);
    box-shadow: 6px 6px 6px 6px bisque,
   -6px -6px 6px 6px bisque;
   margin: 15px 10px;
   padding: 14px;
   justify-items: center;
}

.card-img{
    height: 50px;
    width: 50px;
}

.card-text{
    margin: 0 8px;

}

#service{
    padding:15px;
    background: linear-gradient(#343434, #2b2727);
}